* {
    margin : 10px;
}


body {
    background-image: url("../images/bouille.png");
    background-position: center;
    background-repeat: no-repeat;

    background-color: brown;
    height: 100vh;
}

.rouge {
    color: #FF0000;
}

.gras {
    font-weight: bold;
}

.bordee {
    border : solid 1px;
}

.cachee {
    display : none;
}

.masquee {
    visibility: hidden;
}

#un_paragraphe {
    text-decoration: underline;
    letter-spacing: 2px;
    word-spacing: 10px;
    line-height: 40px;
    direction: rtl;
}

b {
    display : inline-block;
    color : red;
    width : 500px;
}

ul {
    list-style-position: outside;
}

p {
    transition: all .3s;
}

p:hover {
    color : white;
    background-color: black;
    cursor: pointer;
}

body > p:first-child {
    background-color: green;
}

body > p:nth-child(even) {
    background-color: blue;
}

div p {
    font-style: italic;
}

body > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.volet1 {
    background-color: aqua;
}

.volet2 {
    background-color: pink;
}

.volet1, .volet2 {
    display: inline-block;
    width: calc(50% - 20px - 20px);
    margin: 10px;
    height: 200px;
    padding: 10px;

    border-radius: 5px;

    -webkit-box-shadow: 4px 4px 2px 0px #000000; 
    box-shadow: 4px 4px 2px 0px #000000;
    transition: all .3s;
}

.volet1:hover, .volet2:hover {
    -webkit-box-shadow: 6px 6px 3px 0px #000000; 
    box-shadow: 6px 6px 3px 0px #000000;
}

img {
    border-radius: 50%;

}